on: [push, pull_request]

name: Cargo Clippy

jobs:
  clippy:
    name: Cargo Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - run: |
            rustup component add clippy
            cargo clippy --all --all-targets --all-features -- -D warnings
